[Unit]
Description=ReScreen XServer and Screen Change Watcher

[Service]
ExecStart=rescreen watcher --log /var/log/rescreen.log
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target